h1{
    display: inline-block   ;
    background-color: aqua;
    border: 2px solid black;
    text-align: center;
    padding: 20px;
    width: 50%;
    height: 50%;
    margin: 20% 25%;
}
span{
    color: blueviolet;
    
}

.deskripsi-flex {

    margin:auto;
    border: 1px solid black;
    justify-content: space-around;
    display: flex;
    width: 500px;
    height: 500px;
    align-items: center;
}

.deskripsi-flex img{
    width: 150px;
    height: 150px;
}

div h1{
    color: red;
}